
/HARs.suo
/TextLogging/bin
/TextLogging/obj
/SpriteCommTester/bin
/SpriteCommTester/obj
/SpriteCommHandler/bin
/SpriteCommHandler/obj
/HARsoft/Debug
/HARsoft/Release
/HARs/bin
/HARs/obj
/HarDataModel/bin
/HarDataModel/obj