<?xml version="1.0" encoding="utf-8" ?>
<configuration>


  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BrrrBayBay.HARs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!--<system.data>
    <DbProviderFactories>
      <clear/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data>-->
  <userSettings>
    <BrrrBayBay.HARs.Properties.Settings>
      <setting name="spriteCommEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="com_port" serializeAs="String">
        <value>COM4</value>
      </setting>
      <setting name="com_baud" serializeAs="String">
        <value>9600</value>
      </setting>
      <setting name="com_parity" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="com_dataBits" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="com_stopBits" serializeAs="String">
        <value>One</value>
      </setting>
    </BrrrBayBay.HARs.Properties.Settings>
  </userSettings>
</configuration>